@using FuelCalculator.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Check your car !</h1>
<p class="lead">Only today you can see what is your car fuel consumption.</p>
<p>  @Html.ActionLink("Calculate fuel consumption", "CalculateFuelCons", "Fuel", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
